<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nota</title>
</head>
<body>
    <h1>Crear una nota</h1>

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            <ul>
                {% for msg in mensajes %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" value="{{ note.title if note else '' }}" required>
        <br>
        <label for="content">Contenido:</label>
        <input type="text" name="content" id="content" value="{{ note.content if note else '' }}" required>
        <br>
        <input type="submit" value="{% if note %}Actualizar{% else %}Guardar nota{% endif %}">
    </form>
    <br>
    <a href="/">Volver al Inicio</a>
</body>
</html>