<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nota</title>
</head>
<body>
    <h1>Crear una nota</h1>
    <form method="POST">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="content">Contenido:</label>
        <input type="text" name="content" id="content" required>
        <br>
        <input type="submit" value="Guardar nota">
    </form>
    <br>
    <a href="/">Volver al Inicio</a>
</body>
</html>